<div class="page-header">
  <h1>Review & pay for your OFW protection</h1>
  <p>
    Almost there. Please review your details, then continue to secure your coverage.
  </p>
</div>

<section class="container">
  <app-premium-breakdown></app-premium-breakdown>
  <app-policy-holder-info></app-policy-holder-info>
  <app-dependents-covered></app-dependents-covered>
  <app-insurance-details></app-insurance-details>
  <app-terms-and-conditions></app-terms-and-conditions>
  <app-payment-method></app-payment-method>
  <button class="btn" (click)="continue()">Proceed to Payment</button>

</section>
