header {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-white);
  background-color: var(--color-primary);
  //padding: 18px 190px;
  padding: 18px clamp(16px, 5vw, 190px);
  font-weight: 700;
  font-size: 1rem;
}


.icon {
  width: 30px;
  height: 30px;
  fill: white;
}

img {
  width: 86px;
  height: auto;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right {
  font-weight: 300;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  span {
    display: none;
  }
  .left {
    font-size: 0.9rem;
    max-width: 150px;
  }
}
