<!-- ================= V. TERMS ================= -->
<div class="card">

  <div class="card-header">
    <div class="card-title">V. Terms, Policies, and Conditions</div>
  </div>

  <div class="card-body">

    <h4 class="subheading">DATA PRIVACY CONSENT</h4>

    <div class="checkbox-group">
      <label>
        <input type="checkbox">
        <span>
          In compliance with the requirements of the Data Privacy Act, I hereby give my consent to Prudential Guarantee and Assurance, Inc.,(PGAI) to process, collect, store, my personal information or sensitive personal information obtained from me in the course of my transaction/s through this microsite for marketing and promotional activities, including upselling, cross-selling, and telemarketing. I understand and agree that this information may be disclosed or shared by Prudential Guarantee and Assurance, Inc.,(PGAI) to BDO Insurance and Reinsurance Brokers, Inc. (BDO Insure), as my insurance broker, for know-your-client purposes, or the processing of any relevant and suitable product, services, and transactions with BDO Insure which I may request, allow or that may be offered to me based on my personal data, and for any other legitimate purposes.
          <br><br>
          I hereby acknowledge and understand that should I wish to withdraw my consent to receive information about new or related products and services of Prudential Guarantee and Assurance, Inc., or BDO Insure, or to access, update, or correct certain personal data as set out in this form, I may communicate directly at <u>dpo&#64;prudentialguarantee.com</u> for Prudential Guarantee and Assurance, Inc., or at <u>data_protection_officer_bdoinsurance&#64;bdo.com.ph</u> for BDO Insure.
        </span>
      </label>
      <label>
        <input type="checkbox">
        <span>
          I have read and agree to the
          <a href="#">terms, conditions, exclusions, and limitations</a>
          of the OFW Policy Wordings.
        </span>
      </label>

      <label>
        <input type="checkbox">
        <span>
          I have read and agree to PGAI's
          <a href="#">Data Privacy Statement</a> and
          <a href="#">Privacy Notice</a>.
        </span>
      </label>
    </div>

  </div>
</div>
