<section>
  <div class="title-container">
    <h2>Help us complete your OFW policy details</h2>
    <p>Your information ensures your family receives full benefits with no delays.</p>
  </div>

  <form action="">
    <div class="card">
      <div class="card-title">🪪 Employment Details</div>

      <div class="row">
        <app-input
          [id]="'employerName'"
          [fieldTree]="form.employerName"
          [label]="'Employer Name'" >
        </app-input>
        <app-input
          [id]="'jobTitle'"
          [fieldTree]="form.jobTitle"
          [label]="'Occupation / Job Title'" >
        </app-input>
      </div>
      <div class="row">
        <app-input
          [id]="'fullAddress'"
          [fieldTree]="form.fullAddress"
          [label]="'Employer Address'" >
        </app-input>
      </div>

    </div>
    <button type="button" class="btn" (click)="continue($event)">Continue</button>
  </form>

</section>
