<footer class="site-footer">
  <div class="footer-container">

    <!-- LEFT SIDE -->
    <div class="footer-left">
      <p>
        <strong>Prudential Guarantee and Assurance, Inc.</strong> is a non-life insurance company
        registered with the <a href="#">Insurance Commission</a>
      </p>

      <p>License No. 2022/87-R</p>

      <p>
        Address: Coyiuto House, 119 Carlos Palanca Street, Legaspi Village, Makati City
      </p>

      <p>
        Tel: +63 2 8884-9706 &nbsp;&nbsp; • &nbsp;&nbsp; +63 2 8864-9707
      </p>

      <p>
        Email: directmarketing&#64;prudentialguarantee.com
        &nbsp;&nbsp; • &nbsp;&nbsp;
        www.prudentialguarantee.com
      </p>

      <p>Operating hours: Mondays to Fridays except Holidays, 8am - 5pm</p>

      <br>
      <p class="broker-note">
        To contact your insurance broker, BDO Insure and view its Customer
        Assistance and Privacy Notice, <a href="#">click here</a>
      </p>
    </div>

    <!-- RIGHT SIDE -->
    <div class="footer-right">
      <a href="#">Customer Charter</a>
      <a href="#">Data Privacy Statement</a>
      <a href="#">Privacy Notice</a>
      <a href="#">Policy Wordings</a>
    </div>

  </div>
</footer>
