<div class="premium-summary">
  <div class="premium-content">

    <div class="premium-total">
      Total Premium P{{ grossPremium() | number:'1.2-2' }}
    </div>

    <a class="premium-link" (click)="openModal()">
      Premium Breakdown
    </a>

  </div>
</div>

<app-premium-breakdown-modal
  [visible]="showModal()"
  [grossUsd]="grossPremium()"
  [basicUsd]="basicPremium()"
  [dstUsd]="dst()"
  [premTaxUsd]="premTax()"
  [lgtUsd]="lgt()"
  (close)="closeModal()">
</app-premium-breakdown-modal>
